# Port used to open Monochrome in your browser.
MONOCHROME_PORT=3000

# Address of Navidrome as seen from the Monochrome container.
# This default works when Navidrome publishes port 4533 on the Docker host.
NAVIDROME_URL=http://host.docker.internal:4533

